In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('merged_LPER.csv')
df

,playername,LPER,Difference_From_Top,Difference_From_Average,LPER_normalized,Z-score,Role_Mean,Role_Std,Z-Elo,Z-Elo_Positive
0,Chovy,3521,0,860.519481,1.000000,2.791426,2711.046154,290.157685,2791,4676
1,Peyz,3725,0,891.451220,1.000000,2.627627,2903.757143,312.541588,2628,4513
2,Nuguri,3202,-319,662.912500,1.000000,2.281988,2528.555556,295.113103,2282,4167
3,Aiming,3583,-142,749.451220,0.896047,2.173288,2903.757143,312.541588,2173,4058
4,Khan,3146,-375,606.912500,0.953833,2.092230,2528.555556,295.113103,2092,3977
...,...,...,...,...,...,...,...,...,...,...
206,Pobelter,2240,-1281,-420.480519,0.056006,-1.623414,2711.046154,290.157685,-1623,262
207,Sniper,2016,-1505,-523.087500,0.022259,-1.736811,2528.555556,295.113103,-1737,148
208,Lost,2359,-1366,-474.548780,0.000000,-1.742991,2903.757143,312.541588,-1743,142
209,sOAZ,1989,-1532,-550.087500,0.000000,-1.828301,2528.555556,295.113103,-1828,57
210,Ablazeolive,2164,-1357,-496.480519,0.000000,-1.885341,2711.046154,290.157685,-1885,0

In [8]:
GENG = df[df['playername'].isin(['Kiin', 'Canyon', 'Chovy', 'Peyz', 'Lehends'])]['Z-Elo_Positive'].sum()
GENG

12688

In [9]:
T1 = df[df['playername'].isin(['Zeus', 'Oner', 'Faker', 'Gumayusi', 'Keria'])]['Z-Elo_Positive'].sum()
T1

10739

In [10]:
HLE = df[df['playername'].isin(['Doran', 'Peanut', 'Zeka', 'Viper', 'Delight'])]['Z-Elo_Positive'].sum()
HLE

11288

In [11]:
DK = df[df['playername'].isin(['Kingen', 'Lucid', 'ShowMaker', 'Aiming', 'Kellin'])]['Z-Elo_Positive'].sum()
DK

10924

In [ ]:
KT = df[df['playername'].isin(['PerfecT', 'Pyosik', 'Bdd', 'Deft', 'BeryL'])]['Z-Elo_Positive'].sum()
KT

9715